/* 
.container{
    padding: 50px;
    color: #F2F2F2; 
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h3{
    font-size: 55px;
    margin-bottom: 20px;
}
h1{
    font-size: 150px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.context{
    text-align: center;
}

 */
 /* .home{
     /* background: url('../assets/home/background-home-desktop.jpg')
     no-repeat center/
     cover; 
     height: calc(100vh + 1px);
 } */
.home{
    background: url('../assets/home/background-home-desktop.jpg')
    no-repeat center/
    cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .context{
     padding-top: 100px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    height: 100vh;
    /* text-align: center; 
    color: #7e7e7e;
    padding-top: 100px;*/
 

}
/*  
.main-text{
    max-width: 450px;
    min-height: 382px;
} */

h5 {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #d0d6f9;
    padding-left: 0.5px;
  }
  
   h1 {
    font-family: Bellefair;
    font-size: 150px;
    line-height: 172px;
    padding: 24px 5px 24px 0;
    color: white;
  }
  
 p {
    font-family: Barlow;
    font-size: 18px;
    line-height: 178%;
    color: #d0d6f9;
    padding: 0 5.5px 0 0.5px;
  }



.block{
  font-size: 100px; 
  font-weight: 600; 

  margin-bottom: 15px;
  margin-top: 15px;
  letter-spacing: 10px;
}

  .button-wrapper .link {
    text-decoration: none;
  }
  
  .button-wrapper button {
    width: 274px;
    height: 274px;
    border: 0;
    border-radius: 50%;
    font-family: Bellefair;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    transition: box-shadow 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .button-wrapper button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 88px rgba(255, 255, 255, 0.1);
  }
  /*  
.btn{
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 200px;
    width: 200px;
    font-size: 30px;
}
.btn:hover{
background-color: #7e7e7e;;
}
.explore{
    padding: 50px 100px;
}
*/


@media (max-width: 768px) {
.home{
background: url('../assets/home/background-home-tablet.jpg') no-repeat center/
    cover;

}
.context{
    /* position: absolute; */
    padding: 30px;


    flex-direction: column;
    align-items: center;
    height: fit-content;
}

 .main-text{
     align-items: center;
     padding: 35px;
 }

}
@media (max-width: 568px){
.home{
    background:url(../assets/home/background-home-mobile.jpg)no-repeat center/cover ;
}
.context{
    align-items: center;
    flex-direction: column;
    padding: 30px;
}


   h5 {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    padding-left: 0;
  }

   h1 {
    font-size: 80px;
    line-height: 125%;
    padding: 16px 0;
  }

  p {
    padding: 0;
    font-size: 15px;
    line-height: 25px;
  }

  .button-wrapper button {
    width: 150px;
    height: 150px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.25px;
  }

  .button-wrapper button:hover {
    box-shadow: 0 0 0 68px rgba(255, 255, 255, 0.1);
  }
}