@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@100;400;700&family=Bellefair&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{ 
    background-color: #0B0D17;
     background-image: url(./components/assets/home/background-home-desktop.jpg);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    height: 100%;
}
*/
body {
    margin: 0;
    font-family: "Mohave", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
  
  h1,
  h2 {
    font-family: "Zen Antique", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  img {
    max-width: 100%;
  }
  
  button,
  img {
    user-select: none;
  }
  
  p{
    line-height: 1.8}
  
  .gray {
    color: #7e7e7e;
  }
  
  .white {
    color: #ffffff;
  }
